<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.cloud.main.service.CusMapper">
	<select id="getId" resultType="String">
		select cus_id from CUSTOMER where cus_managet_name=#{cus_managet_name} and
		cus_email=#{cus_email}

	</select>
	<select id="getIdPw" resultType="String">
		select cus_id from CUSTOMER where cus_business_id=#{cus_business_id} and
		cus_email=#{cus_email}and cus_id=#{cus_id}

	</select>
	
	<insert id="resetPw">
	<selectKey keyProperty="cus_num" resultType="String"
			order="BEFORE">
			select cus_num from CUSTOMER where cus_id=#{cus_id}
		</selectKey>
		insert into CUSTOMER (cus_num,cus_pw) 
		values (#{cus_num},#{cus_pw})
		on duplicate key update
		cus_num=#{cus_num},cus_pw=#{cus_pw} 
	
	
	</insert>
	
	<insert id="singIn">

		insert into CUSTOMER (
		CUS_ID,
		CUS_PW,
		CUS_COMPANY_NAME,
		CUS_BOSS,
		CUS_COMPANY_PH,
		CUS_POSTAL_CODE,
		CUS_ADDRESS1,
		CUS_ADDRESS2,
		CUS_MANAGET_NAME,
		CUS_PHONE_NUMBER,
		CUS_EMAIL,
		CUS_BUSINESS_ID,
		USER_ID
		)

		values(
		#{cus_id},
		#{cus_pw},
		#{cus_company_name},
		#{cus_boss},
		#{cus_company_ph},
		#{cus_postal_code},
		#{cus_address1},
		#{cus_address2},
		#{cus_managet_name},
		#{cus_phone_number},
		#{cus_email},
		#{cus_business_id},
		'ROLE_ENGLEADER'
		);

		insert into ROLE(
		USERNAME,
		PASSWORD,
		ROLE)
		values(
		#{cus_id},
		#{cus_pw},
		'ROLE_ENGLEADER'
		);




	</insert>
	<insert id="setPoto">
		<selectKey keyProperty="user_num" resultType="String"
			order="BEFORE">

			select cus_num from CUSTOMER where cus_id=#{user_id}

		</selectKey>
		insert into file(
		file_name,
		file_path,
		file_type,
		user_num,
		user_id

		)
		values(
		'profile.jpg',
		'https://project-buket.s3.amazonaws.com/profile.jpg',
		'image/jpeg',
		#{user_num},
		#{user_id}

		)

	</insert>

	<select id="idCheck" resultType="CusVO">

		select * from CUSTOMER where
		cus_id=#{cus_id};

	</select>

	<select id="emailCheck" resultType="CusVO">

		select * from CUSTOMER where
		cus_email=#{cus_email};
  </select>

	
	<select id="idCheckEng" resultType="EngineerVO">

		select * from ENGINEER where
		eng_enid=#{eng_enid};

	</select>
	

	
	<insert id="updateInfo">

		insert into CUSTOMER
		(cus_num,
		cus_id,cus_company_name,cus_address1,
		cus_address2,cus_managet_name,cus_email,cus_company_ph,cus_boss)

		values
		(#{cus_num},#{cus_id},#{cus_company_name},#{cus_address1},#{cus_address2},
		#{cus_managet_name},#{cus_email},#{cus_company_ph},#{cus_boss})

		on
		duplicate key update

		cus_num=#{cus_num},cus_id=#{cus_id},cus_company_name=#{cus_company_name},cus_address1=#{cus_address1},
		cus_address2=#{cus_address2},cus_managet_name=#{cus_managet_name},cus_email=#{cus_email},
		cus_company_ph=#{cus_company_ph},cus_boss=#{cus_boss}
	</insert>


	<select id="SearchInfo" resultType="map">
		SELECT *
		FROM ${table}
		WHERE ${columm} LIKE CONCAT('%', #{value}, '%')
		<if test="cs_writer !='undefined'">
			AND(cs_writer=#{cs_writer})
		</if>
		<if test="order != null and order != ''">
			ORDER BY ${order} DESC
		</if>
	</select>
	<select id="SearchCount" resultType="String">
		SELECT count(*)
		FROM ${table}
		WHERE ${columm} like concat('%',#{value},'%');

	</select>
	<select id="getComment" resultType="NoticeCommentVO">
		select * from NOTICE_COMMENT
		where notice_num=#{notice_num} order by com_regdate desc;

	</select>


	<insert id="CreateComments">
		insert into NOTICE_COMMENT
		(com_writer,com_content,notice_num)
		value(#{com_writer},#{com_content},#{notice_num})

	</insert>
	<delete id="commentDel">

		delete from NOTICE_COMMENT where com_num=#{com_num}
	</delete>
	<insert id="commentUp">

		insert into NOTICE_COMMENT(com_num,com_content)
		value(#{com_num},#{com_content})
		on duplicate key update
		com_num=#{com_num},com_content=#{com_content}
	</insert>
	<select id="getServerList">
		select * from server where pro_id=#{pro_id}
	</select>
	<insert id="quryeWrite">
		insert into
		cs(cs_title,cs_content,cs_answer_yn,cs_type,cs_project,cs_server,cs_writer)
		values(
		#{cs_title},
		#{cs_content},
		#{cs_answer_yn},
		#{cs_type},
		#{cs_project},
		#{cs_server},
		#{cs_writer}
		)
	</insert>
</mapper>

