<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.cloud.main.service.CusMapper">


	<insert id="singIn">

		insert into CUSTOMER (
		CUS_ID,
		CUS_PW,
		CUS_COMPANY_NAME,
		CUS_BOSS,
		CUS_COMPANY_PH,
		CUS_POSTAL_CODE,
		CUS_ADDRESS1,
		CUS_ADDRESS2,
		CUS_MANAGET_NAME,
		CUS_PHONE_NUMBER,
		CUS_EMAIL,
		CUS_BUSINESS_ID,
		USER_ID
		)

		values(
		#{cus_id},
		#{cus_pw},
		#{cus_company_name},
		#{cus_boss},
		#{cus_company_ph},
		#{cus_postal_code},
		#{cus_address1},
		#{cus_address2},
		#{cus_managet_name},
		#{cus_phone_number},
		#{cus_email},
		#{cus_business_id},
		'ROLE_ENGLEADER'
		);

		insert into ROLE(
		USERNAME,
		password,
		ROLE)
		values(
		#{cus_id},
		#{cus_pw},
		'ROLE_ENGLEADER'
		);

		


	</insert>
	<insert id="setPoto">
		<selectKey keyProperty="user_num" resultType="String"
			order="BEFORE">

			select cus_num from CUSTOMER where cus_id=#{user_id}

		</selectKey>
		insert into file(
		file_name,
		file_path,
		file_type,
		user_num,
		user_id

		)
		values(
		'profile.jpg',
		'https://project-buket.s3.amazonaws.com/profile.jpg',
		'image/jpeg',
		#{user_num},
		#{user_id}

		)

	</insert>

	<select id="idCheck" resultType="CusVO">

		select * from CUSTOMER where
		cus_id=#{cus_id};

	</select>

	<insert id="updateInfo">

		insert into CUSTOMER
		(cus_num,
		cus_id,cus_company_name,cus_address1,
		cus_address2,cus_managet_name,cus_email,cus_company_ph,cus_boss)

		values
		(#{cus_num},#{cus_id},#{cus_company_name},#{cus_address1},#{cus_address2},
		#{cus_managet_name},#{cus_email},#{cus_company_ph},#{cus_boss})

		on
		duplicate key update

		cus_num=#{cus_num},cus_id=#{cus_id},cus_company_name=#{cus_company_name},cus_address1=#{cus_address1},
		cus_address2=#{cus_address2},cus_managet_name=#{cus_managet_name},cus_email=#{cus_email},
		cus_company_ph=#{cus_company_ph},cus_boss=#{cus_boss}
	</insert>


	<select id="SearchInfo" resultType="map">
		SELECT *
		FROM ${table}
		WHERE ${columm} like concat('%',#{value},'%');

	</select>
	<select id="SearchCount" resultType="String">
		SELECT count(*)
		FROM ${table}
		WHERE ${columm} like concat('%',#{value},'%');

	</select>
	<select id="getComment" resultType="NoticeCommentVO">
		select * from NOTICE_COMMENT where notice_num=#{notice_num} order by com_regdate desc;
	
	</select>	
	
	
	<insert id="CreateComments">
		insert into NOTICE_COMMENT (com_writer,com_content,notice_num)
		value(#{com_writer},#{com_content},#{notice_num})
		
	</insert>
	<delete id="commentDel">
	
	delete from NOTICE_COMMENT where com_num=#{com_num}
	</delete>
	<insert id="commentUp">
	
	insert into NOTICE_COMMENT(com_num,com_content)
	value(#{com_num},#{com_content})
	on duplicate key update
	com_num=#{com_num},com_content=#{com_content} 
	</insert>
	
</mapper>

